{% extends '::base.html.twig' %}

{% block body %}
    <div class="content-grid">
        <div class="col-md-4 grid-food">
                <div class="popular">
                        <h3>Telefon / E-Mail</h3>
                        <p>Bestellung via Telefon</p>
                        <ul class="number">
                                <li><span><i> </i>08081 / 3483</span </li>
                                <li><a href="mailto:info@sitename.com"><i class="mail"> </i>info@alcapone-dorfen.de </a></li>					
                        </ul>
                </div>
        </div>
	
    {% block content %}{% endblock %}	
				
            
    </div>
{% endblock %}
